<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <div class="container">
        <h1>Залогинься</h1>
        <br>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Username" name="username" id="username">
        <br>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Password" name="password" id="password">
        <br>
        <button type="submit" class="registerbtn">Войти</button>
    </div>
</form>
</body>
</html>